.header {
  min-height: 5rem;
}

.home:hover {
  text-decoration: none;
}
h1 {
  color: black;
  text-align: center;
  font-size: 3.5rem;
}

@media screen and (min-width: 768px) {
  h1 {
    width: auto;
    text-align: start;
  }
}