.navDiv {
  margin-left: auto;
  align-self: center;
}

.navbar > ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding-right: 1rem;
}

li {
  text-decoration: none;
  padding: .5rem;
}